<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left"> 
    </ActionItem>
    <Label text="Detail"></Label>
</ActionBar>

<StackLayout class="page__content"  >

    <StackLayout class="search-hero">
        <Label text="Details" class='texto-blanco' textWrap="true"></Label>
        <Label [text]="noticia" class='texto-blanco' textWrap="true" ></Label>
    </StackLayout>

    <RadListView class="list-group" pullToRefresh="true"  (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" [items]="comentariosList"
    (loaded)="onLoaded($event)">
    <ng-template let-comentario="item">
        <GridLayout class='comentario' columns='auto, *, auto,auto' rows='auto,auto' verticalAlignment='top' backgroundColor='lightgray' >
            <Image src='res://icon' row="0" col="0" rowSpan='2' width='80' height='80' margin='3' verticalAlignment='top'></Image>
            <Label [text]='comentario.comentario' textWrap='true' row ='0' col='1' colSpan='2' minHeight='50' fontSize='20' margin='3'></Label>
            <Label [text]='comentario.nombre' textWrap='true' col='1' row='1' fontSize='14' horizontalAlignment='left' verticalAlignment='bottom' margin='3'></Label>
            <Label [text]='comentario.puntaje' textWrap='true' col='2' row='1' color='#10c2b0'  fontSize='14' verticalAlignment='bottom' margin='3'></Label>
        </GridLayout>
    </ng-template>
</RadListView>
</StackLayout>



