<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Featured"></Label>
</ActionBar>

<StackLayout class="page__content">

    <ListView class='list-group' [items]='this.favoritos'   style='height: 900px'>
        <ng-template let-x='item' let-i='index'>
            <FlexboxLayout flexDirection='row' class='list-group-item'  >
                <label [text]='x[0]' class='list-group-item-heading' verticalAligment='center' style='width:40%; '></label>
                <label [text]='x[1]' class='list-group-item-heading' verticalAligment='center' style='width:40%; '></label>
            </FlexboxLayout>
        </ng-template>
    </ListView>

</StackLayout>