<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left"> 
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>

<StackLayout  #layout>
    

    <SearchForm (search)="search($event)" [inicial]="'fut'"></SearchForm>
    <ListView class='list-group' [items]='this.resultados'   style='height: 500px'>
        <ng-template let-x='item' let-i='index'>
            <FlexboxLayout flexDirection='row' class='list-group-item'  (longPress)='onItemLongTap($event,x)' >
                <label [text]='x' (tap)="tapText($event)" class='list-group-item-heading' verticalAligment='center' style='width:40%; '></label>
                <Button text="Ver detalle" (tap)="onItemTapList(i)" width='30%'  ></Button> 
                <Button text="Agregar Favoritos" (tap)="agregarFavoritos(x)" width='30%'   ></Button> 
            </FlexboxLayout>
        </ng-template>
    </ListView>
    <Button text="Ver favoritos" (tap)="verFavoritos()" ></Button> 

    <SettingBusy></SettingBusy>
</StackLayout>