<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Button text="FOTO" (tap)="onButtonTap()"></Button>
    <Image width='250' height='250' src="https://i.pinimg.com/236x/11/8b/2e/118b2e19af9a3c703f6226146011fdeb.jpg" stretch="aspectFill"></Image>
    <Image width='250' height='250' stretch="aspectFit" src="~/app/imagenes/universo.jpg" ></Image>
    <Image width='250' height='250' stretch="aspectFit" src="res://ciudad" ></Image>
</StackLayout>