<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<StackLayout class="page__content" *ngIf="!edit">
    <Label  textWrap="true" text="Nombre: " > </Label>
    <TextView editable="false">
        <FormattedString>
            <Span
                [text]="nombre"  fontWeight="Bold">
            </Span>
        </FormattedString>
    </TextView>
    <Button text="Editar" (tap)="edit= true"></Button>
</StackLayout>

<StackLayout class="page__content" *ngIf="edit">
    <Label  textWrap="true" text="Editar Nombre" > </Label>
    <TextField [(ngModel)]="nombre" name='nombre' #nom ='ngModel'   required hint="Enter text..."></TextField>
    
    <Button text="Guardar"  *ngIf="!nom.hasError('required')" (tap)="save(nom)"></Button>
</StackLayout>